$red:                     #ec6f5a;
$orange:                  #f6bb42;
$green:                   #37bc9b;
$blue-light:              #55badf;
$blue:                    #3bafda;
$blue-dark:               #4a89dc;
$violet:                  #a992e2;
$purple:                  #967adc;

$brand-primary:           $purple !default;

$font-family-sans-serif:  "Raleway", sans-serif !default;